body {
    font-size: 12px;
    line-height: 150%;
    text-align: center;
    background: url(../images/bg.jpg) repeat scroll 0% 0% transparent;
    margin: 0;
    position: relative;
}
.game-box {
    width: 640px;
    margin: 0 auto;
    position: relative;
}
.btn-box {
    padding-left:45px;
}
.btn-box a {
    background: url(../images/btn-bg1.png) center 0 no-repeat;
    height: 75px;
    width: 205px;
    cursor: pointer;
    margin:0 30px;
    display:block;
    font: normal 22px/70px "Î¢ÈíÑÅºÚ";
    float:left;
    color: #480e00;
    text-decoration: none;
}
